<footer class="py-5">
  <div class="container">
    <div class="footer-grid">
      <section class="logos mb-4">
        <img class="navbar-item emblem d-lg-none" [src]="'logo_kprm_biale_tlo.png' | path: 'imagesPath'" alt="KPRM" />
        <img
          class="navbar-item emblem d-lg-none"
          [src]="'pomagamyua.png' | path: 'imagesPath'"
          [alt]="'HELP_FOR_UKRAINE' | translate"
        />
        <img class="navbar-item emblem" [src]="'coi.svg' | path: 'imagesPath'" alt="COI" />
      </section>

      <nav class="footer-nav">
        <a href="https://pomagamukrainie.gov.pl/" class="navbar-item ukraine-help">{{
          "HELP_FOR_UKRAINE" | translate
        }}</a>
        <a href="https://pomagamukrainie.gov.pl/chce-pomoc/konwoj-humanitarny" class="navbar-item">{{
          "HUMANITY_TRANSPORT" | translate
        }}</a>
        <app-policy-link [denominator]="true" [isReply]="false"></app-policy-link>
        <a [routerLink]="[corePath.About]" class="navbar-item">{{ "ABOUT_APP" | translate }}</a>
      </nav>
    </div>
  </div>
</footer>
