@import "vars";

:host {
  display: block;
  background: var(--c-white);

  footer {
    border-top: 2px solid var(--c-red);

    .container {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .footer-grid {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;

      nav.footer-nav {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        justify-content: space-around;
        align-items: center;
      }
    }

    @media (max-width: 991px) {
      .footer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;

        nav.footer-nav {
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          justify-items: center;
          text-align: center;
          row-gap: 30px;
        }

        section.logos {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: min-content;
          margin-bottom: 30px;
          justify-items: center;
          align-items: center;
        }
      }
    }

    img.logo {
      width: 150px;
    }

    a {
      font-weight: normal;
      color: #1b1b1b;
      font-size: 15px;
      text-decoration: none;
    }
  }
}
