@import "vars";

footer {
  background: var(--c-white);
  width: 100%;
  border-top: 2px solid var(--c-red);

  .footer-grid {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    align-items: center;
    img {
      max-height: 50px;
      margin-right: 30px;
    }
    @media (min-width: $breakpoint-lg) {
      display: flex;
      margin-right: 40px;
    }
  }

  .logo-govpl {
    font-size: 18px;
    font-weight: 700;
    color: var(--c-black-2);
    display: inline-block;
    white-space: nowrap;
    margin-right: 30px;

    img {
      margin-right: 11px;
    }
  }

  .footer-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 40px;
    height: 20px;
    @media (min-width: $breakpoint-lg) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    a {
      display: inline-block;
      color: black;
      text-decoration: none;
      font-size: 13px;
      @media (min-width: $breakpoint-lg) {
        font-size: 15px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
