<div class="d-flex">
  <div class="col-3 col-sm-4 selectPrefixWrap">
    <label
      ><b>{{ "LABEL_PHONE_NUMBER" | translate }}</b></label
    >
    <mat-form-field appearance="outline">
      <mat-select
        placeholder="{{ 'PLACEHOLDER_CHOOSE' | translate }}"
        [(ngModel)]="phone.prefix"
        (selectionChange)="onPrefixChange()"
        name="prefix"
      >
        <mat-option *ngFor="let prefix of PREFIXES" [value]="prefix.prefix">+{{ prefix.prefix }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-9 col-sm-8 phoneNumberWrap">
    <mat-form-field appearance="outline">
      <input
        placeholder="{{ 'TYPE_NUMBER' | translate }}"
        matInput
        type="text"
        name="phone"
        #phoneInput
        (input)="onPhoneNumberChange($event)"
        [(ngModel)]="phone.phoneNumber"
        appPhoneValidate
        minlength="7"
        maxlength="15"
        inputmode="numeric"
        #phoneNumberModel="ngModel"
      />
      <mat-error>
        <app-field-error [model]="phoneNumberModel"></app-field-error>
      </mat-error>
    </mat-form-field>
  </div>
</div>
