<label for="phone"
  ><b>{{ "LABEL_PHONE_NUMBER" | translate }}</b></label
>
<div class="d-flex">
  <mat-form-field class="col-3 col-sm-4 selectPrefixWrap" appearance="outline">
    <mat-select
      role="list"
      placeholder="{{ 'PLACEHOLDER_CHOOSE' | translate }}"
      [(ngModel)]="phone.prefix"
      (selectionChange)="onPrefixChange()"
      name="prefix"
    >
      <mat-option role="listitem" *ngFor="let prefix of PREFIXES" [value]="prefix.prefix"
        >+{{ prefix.prefix }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-9 col-sm-8 phoneNumberWrap" appearance="outline">
    <input
      placeholder="{{ 'TYPE_NUMBER' | translate }}"
      matInput
      type="text"
      name="phone"
      id="phone"
      #phoneInput
      (input)="onPhoneNumberChange($event)"
      [(ngModel)]="phone.phoneNumber"
      appPhoneValidate
      minlength="7"
      maxlength="15"
      inputmode="numeric"
      #phoneNumberModel="ngModel"
    />
    <mat-error>
      <app-field-error [model]="phoneNumberModel"></app-field-error>
    </mat-error>
  </mat-form-field>
</div>
