<div>
  <label for="city"
    ><b>{{ label }}</b></label
  >
  <mat-form-field class="example-full-width" appearance="outline">
    <input
      type="text"
      #autoCompleteInput
      [placeholder]="placeholder"
      matInput
      (keydown)="onKeydown($event)"
      [formControl]="formControl"
      [matAutocomplete]="auto"
      [required]="required"
      (input)="onLocationInput($event)"
      id="city"
      name="city"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayOption"
      (optionSelected)="onSelected($event.option.value)"
    >
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option | displayLocationOption }}
      </mat-option>
    </mat-autocomplete>
    <button
      *ngIf="selectedOption"
      type="button"
      mat-button
      matSuffix
      mat-icon-button
      [attr.aria-label]="'CLEAR' | translate"
      (click)="clearValue()"
    >
      <mat-icon class="button-icon" fontSet="material-icons-outlined">close</mat-icon>
    </button>
    <mat-error>
      <app-field-error [locationControl]="formControl"></app-field-error>
    </mat-error>
  </mat-form-field>
</div>
