.result {
  font-family: var(--font-open-sans);
  margin-bottom: 11px;
  mat-icon {
    font-size: var(--attribute-font-size);
    width: var(--attribute-font-size);
    height: var(--attribute-font-size);
    opacity: 1;
    color: var(--c-yellow);
  }
  .attributes {
    --attribute-font-size: 13px;
    font-family: var(--font-open-sans);
    margin: 0 0 11px 0;
    color: var(--base-font-color);
    font-size: var(--attribute-font-size);
    display: flex;
    gap: 18px;

    .right {
      flex: 1;
      text-align: right;
    }
    .first-case-up::first-letter {
      text-transform: uppercase;
    }
  }
  h4 {
    font-size: 18px;
    color: var(--c-darkblue);
  }
  .description {
    font-size: 15px;
    color: var(--c-darkblue);
  }
  .text-with-icon {
    display: flex;
    align-items: center;

    .mat-icon {
      margin-left: 0.5em;
      margin-right: 0.5em;
      color: inherit;
    }
  }
}
