@import "vars";

:host {
  width: 100%;
  font-family: var(--font-open-sans);

  .container {
    max-width: var(--width-lg);
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  header {
    padding: 40px;
  }

  section {
    display: block;
    margin: 2em 1em;

    .text {
      text-align: left;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.37px;
      color: $c-font;
      opacity: 1;
      padding-bottom: 16px;
    }
  }

  .mat-button-base {
    width: 210px;
    height: 48px;
    border-radius: 24px;
  }

  .btn-edit {
    width: 100%;
    color: $c-font;

    &:hover {
      color: $c-white;
    }
  }

  .btn-remove {
    width: 100%;
    color: $c-font;
    font-size: 0.625rem;
  }
}
