<app-breadcrumb></app-breadcrumb>
<div class="container">
  <header>
    <h2>{{ "HELPUA" | translate }}</h2>
    <h1>{{ "MY_ACCOUNT" | translate }}</h1>
  </header>
  <section>
    <p class="text">{{ "ACCOUNT_SETTINGS" | translate }}</p>
    <app-my-account-settings [myAccountPersonalData]="myAccountPersonalData$ | async"></app-my-account-settings>
  </section>
  <button color="primary" mat-flat-button (click)="addNewAd()">
    <mat-icon fontSet="material-icons-outlined">add</mat-icon>
    {{ "ADD_ANNOUNCEMENT" | translate }}
  </button>

  <section *ngIf="myAnnouncements?.content?.length">
    <p class="text">{{ "YOUR_ANNOUNCEMENT" | translate }}</p>
    <div class="announcements-wrapper">
      <app-search-result
        *ngFor="let announcement of myAnnouncements.content"
        [location]="$any(announcement).location"
        [origin]="$any(announcement).origin"
        [destination]="$any(announcement).destination"
        [title]="announcement.title"
        [description]="announcement.description"
        [posted]="announcement.modifiedDate"
      >
        <app-search-result-attribute
          *ngIf="$any(announcement).guests"
          [text]="('NUMBER_OF_PEOPLE' | translate) + ': ' + $any(announcement).guests"
          icon="person"
        ></app-search-result-attribute>
        <app-search-result-attribute
          *ngIf="$any(announcement).hostLanguage"
          [text]="$any(announcement).hostLanguage.join(', ')"
          icon="translate"
        ></app-search-result-attribute>
        <app-search-result-attribute
          *ngIf="$any(announcement).category"
          [text]="$any(announcement).category | translate"
          icon="interests_outline"
        ></app-search-result-attribute>

        <app-search-result-attribute
          *ngIf="$any(announcement).transportDate"
          [text]="$any(announcement).transportDate"
          icon="date_range"
        ></app-search-result-attribute>
        <app-search-result-attribute
          *ngIf="$any(announcement).capacity"
          [text]="('NUMBER_OF_PEOPLE' | translate) + ': ' + $any(announcement).capacity"
          icon="person"
        ></app-search-result-attribute>
        <div class="pt-2 pt-sm-0 ps-sm-2" buttons>
          <button type="button" class="btn btn-secondary mb-2" (click)="editAnnouncement(announcement)">
            {{ "EDIT_ANNOUNCEMENT" | translate }}
          </button>
          <button type="button" class="btn btn-link btn-sm" (click)="removeAnnouncement(announcement)">
            {{ "REMOVE_ANNOUNCEMENT" | translate }}
          </button>
        </div>
      </app-search-result>
      <!-- TODO: add paginator / global component-->
    </div>
  </section>
</div>
