<div class="container">
  <app-breadcrumb></app-breadcrumb>
  <header>
    <p class="font-small font-yellow fw-bold mb-1">{{ "HELPUA" | translate }}</p>
    <h1 class="header-2 font-darkblue fw-bold">{{ "MY_ACCOUNT" | translate }}</h1>
  </header>
  <section>
    <p class="text">{{ "ACCOUNT_SETTINGS" | translate }}</p>
    <app-my-account-settings></app-my-account-settings>
  </section>
  <div class="d-flex justify-content-center">
    <button class="btn btn-dark" (click)="addNewAd()">
      <mat-icon fontSet="material-icons-outlined">add</mat-icon>
      {{ "ADD_ANNOUNCEMENT" | translate }}
    </button>
  </div>

  <section *ngIf="myAnnouncements?.content?.length">
    <app-sorting-header
      [header]="'YOUR_ANNOUNCEMENT' | translate"
      (sortingOrderChange)="getMyOffers()"
      [total]="total"
    ></app-sorting-header>
    <div class="announcements-wrapper">
      <ng-container *ngFor="let announcement of myAnnouncements.content">
        <app-search-result
          *ngIf="announcement.type === 'ACCOMMODATION'"
          [location]="announcement.location"
          [title]="announcement.title"
          [description]="announcement.description | slice: 0:200"
          [posted]="announcement.modifiedDate"
          [offerId]="announcement.id!"
          [category]="categoryRoutingName.ACCOMMODATION"
          [fromMyAccount]="true"
        >
          <app-search-result-attribute
            *ngIf="announcement.guests"
            [text]="('NUMBER_OF_PEOPLE' | translate) + ': ' + announcement.guests"
            icon="person"
          ></app-search-result-attribute>
          <app-search-result-attribute
            *ngIf="announcement.hostLanguage"
            [text]="announcement.hostLanguage.join(', ')"
            icon="translate"
          ></app-search-result-attribute>

          <button type="button" class="btn btn-light btn-sm" (click)="removeAnnouncement(announcement, $event)">
            {{ "REMOVE_ANNOUNCEMENT" | translate }}
          </button>
        </app-search-result>

        <app-search-result
          *ngIf="announcement.type === 'MATERIAL_AID'"
          [location]="announcement.location"
          [title]="announcement.title"
          [description]="announcement.description | slice: 0:200"
          [posted]="announcement.modifiedDate"
          [offerId]="announcement.id!"
          [category]="categoryRoutingName.MATERIAL_HELP"
          [fromMyAccount]="true"
        >
          <app-search-result-attribute
            *ngIf="announcement.category"
            [text]="announcement.category | translate"
            icon="interests_outline"
          ></app-search-result-attribute>

          <div class="pt-2 pt-sm-0 ps-sm-2" buttons (click)="removeAnnouncement(announcement, $event)">
            <button type="button" class="btn btn-light btn-sm">
              {{ "REMOVE_ANNOUNCEMENT" | translate }}
            </button>
          </div>
        </app-search-result>

        <app-search-result
          *ngIf="announcement.type === 'TRANSPORT'"
          [origin]="announcement.origin"
          [destination]="announcement.destination"
          [title]="announcement.title"
          [description]="announcement.description | slice: 0:200"
          [posted]="announcement.modifiedDate"
          [offerId]="announcement.id!"
          [category]="categoryRoutingName.TRANSPORT"
          [fromMyAccount]="true"
        >
          <app-search-result-attribute
            *ngIf="announcement.transportDate"
            [text]="announcement.transportDate"
            icon="date_range"
          ></app-search-result-attribute>
          <app-search-result-attribute
            *ngIf="announcement.capacity"
            [text]="('NUMBER_OF_PEOPLE' | translate) + ': ' + announcement.capacity"
            icon="person"
          ></app-search-result-attribute>

          <div class="pt-2 pt-sm-0 ps-sm-2" buttons (click)="removeAnnouncement(announcement, $event)">
            <button type="button" class="btn btn-light btn-sm">
              {{ "REMOVE_ANNOUNCEMENT" | translate }}
            </button>
          </div>
        </app-search-result>
      </ng-container>
      <app-paginator [length]="myAnnouncements.totalElements" (param)="getMyOffers()"></app-paginator>
    </div>
  </section>
</div>
