@import "vars";

:host {
  width: 100%;
  display: block;

  .navigation {
    h2 {
      margin-top: 36px;
      margin-bottom: 25px;
      font-size: 19px;
      line-height: 1.3;
    }

    .categories {
      text-align: center;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(120px, 121px));
      justify-content: space-between;
    }

    .categories-mobile {
      text-align: left;

      .selected-category {
        position: relative;
        top: -6px;
        left: 15px;
        color: $c-darkblue;
        font-weight: bold;
      }

      mat-form-field {
        width: 100%;
      }
    }
  }
}

.category-link {
  text-decoration: none;
}
