<p *ngIf="outputPath === corePath.Give && !inactive" class="d-none d-md-block font-small mb-2 text-center">
  <b>{{ "CHOOSE_CATEGORY" | translate }}</b>
</p>
<nav class="navigation">
  <div class="categories d-none d-md-grid">
    <ng-container *ngFor="let category of categories">
      <ng-container *ngIf="!category.disabled && !(inactive && !isActive(category)); else disabledCategory">
        <a
          class="category-link"
          [routerLink]="['/', outputPath, routingCategoryName[category.name]]"
          [queryParams]="queryParams()"
        >
          <app-type-of-help
            [icon]="category.icon"
            [name]="category.name"
            [selected]="isActive(category)"
            [disabled]="category.disabled"
          >
          </app-type-of-help>
        </a>
      </ng-container>
      <ng-template #disabledCategory>
        <div
          [matTooltip]="category.disabled && !inactive ? ('AVAILABLE_SOON' | translate) : undefined"
          matTooltipClass="tooltip-white"
          matTooltipPosition="below"
        >
          <app-type-of-help
            [icon]="category.icon"
            [name]="category.name"
            [selected]="isActive(category)"
            [disabled]="category.disabled || (inactive && !isActive(category))"
          >
          </app-type-of-help>
        </div>
      </ng-template>
    </ng-container>
  </div>
  <div class="categories-mobile d-block d-md-none">
    <label for="selectedCategory"
      ><b>{{ "CHOOSE_CATEGORY" | translate }}</b></label
    >
    <mat-form-field appearance="outline">
      <mat-select
        [placeholder]="'CHOOSE_FROM_THE_LIST' | translate"
        [(ngModel)]="selectedCategory.name"
        id="selectedCategory"
      >
        <mat-select-trigger *ngIf="selectedCategory">
          <mat-icon class="material-icons-outlined">{{ selectedCategory.icon }}</mat-icon
          ><span class="selected-category">{{ selectedCategory.name | translate }}</span>
        </mat-select-trigger>
        <ng-container *ngFor="let category of categories">
          <a
            *ngIf="!category.disabled"
            class="category-link"
            [routerLink]="['/', outputPath, routingCategoryName[category.name]]"
            [queryParams]="queryParams()"
          >
            <mat-option [value]="category.name"
              ><mat-icon class="material-icons-outlined">{{ category.icon }}</mat-icon>
              {{ category.name | translate }}</mat-option
            >
          </a>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</nav>
