:host {
  width: 100%;
  display: block;

  .navigation {
    text-align: center;

    h2 {
      margin-top: 36px;
      margin-bottom: 25px;
      font-size: 19px;
      line-height: 1.3;
    }

    .categories {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(120px, 130px));
      justify-content: center;
    }
  }

  .category-link {
    text-decoration: none;
  }
}
