@import "vars";

.ml-auto {
  margin-left: auto;
}

.content {
  min-height: 50%;
}

.copy-url {
  cursor: pointer;
  text-decoration: none;
  color: $c-darkblue;
  &:active {
    color: grey;
    mat-icon {
      color: grey;
    }
  }
  .text {
    position: relative;
    top: -6px;
  }
}
