:root {
  --icon-size: 20px;
}

:host a {
  font-size: 12px;
  font-weight: 500;
  color: #0b52bd;
  letter-spacing: -0.1px;

  mat-icon {
    font-size: 19px;
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
