<div *ngIf="data" class="d-flex align-items-center pe-2">
  <div class="align-self-start me-2">
    <mat-icon class="button-icon" fontSet="material-icons-outlined">check_circle_outline</mat-icon>
  </div>
  <div *ngIf="data === ALERT_TYPES.OFFER_SUCCESS">
    <h5>{{ "OFFER_SENT_ALERT_HEADER" | translate }}</h5>
    <p>{{ "OFFER_SENT_ALERT_CONTENT" | translate }}</p>
  </div>
  <div *ngIf="data === ALERT_TYPES.MESSAGE_SENT">
    <h5>{{ "MESSAGE_SENT_ALERT_HEADER" | translate }}</h5>
    <p>{{ "MESSAGE_SENT_ALERT_CONTENT" | translate }}</p>
  </div>
  <div *ngIf="data === ALERT_TYPES.OFFER_REMOVED">
    <h5>{{ "MESSAGE_OFFER_REMOVED" | translate }}</h5>
  </div>
</div>
