@import "src/assets/styles/media-dimensions";

.container {
  .paginator {
    background: transparent;

    .mat-paginator-container {
      justify-content: space-between;

      @media (max-width: $breakpoint-xs-max) {
        justify-content: center;
      }

      .mat-paginator-page-size {
        @media (max-width: $breakpoint-xs-max) {
          display: none;
        }
      }

      .mat-paginator-page-size-label {
        font-size: 15px;
        color: var(--c-darkblue);
      }

      .mat-form-field-flex {
        padding: 0.3em 0.75em 0.4em 0.75em;

        .mat-form-field-outline {
          background: var(--c-white);
        }
      }

      .mat-paginator-range-actions {
        font-size: 15px;
        color: var(--c-darkblue);

        .mat-paginator-navigation-previous {
          order: 0;
        }

        .mat-paginator-range-label {
          order: 1;
          @media (min-width: $breakpoint-sm) {
            margin: 0;
          }
        }

        .mat-paginator-navigation-next {
          order: 2;
        }

        .mat-icon-button {
          @media (max-width: $breakpoint-xs-max) {
            width: 50px;
            height: 50px;
            line-height: 50px;
          }
        }

        .mat-paginator-icon {
          width: 38px;

          @media (max-width: $breakpoint-xs-max) {
            width: 50px;
          }
        }
      }
    }
  }
}
