<div class="container">
  <div class="icon">
    <mat-icon fontSet="material-icons-outlined">restore_from_trash</mat-icon>
  </div>
  <div class="title">{{ "CONFIRM_REMOVE_AD" | translate }}</div>

  <app-search-result
    *ngIf="currentAnnouncement.type === 'ACCOMMODATION'"
    [location]="currentAnnouncement.location"
    [title]="currentAnnouncement.title"
    [description]="currentAnnouncement.description"
    [posted]="currentAnnouncement.modifiedDate"
    class="item-wrapper"
  >
    <app-search-result-attribute
      [text]="('NUMBER_OF_PEOPLE' | translate) + ': ' + currentAnnouncement.guests"
      icon="person"
    ></app-search-result-attribute>
    <app-search-result-attribute
      [text]="currentAnnouncement.hostLanguage.join(', ')"
      icon="translate"
    ></app-search-result-attribute>
  </app-search-result>

  <app-search-result
    *ngIf="currentAnnouncement.type === 'MATERIAL_AID'"
    [location]="currentAnnouncement.location"
    [title]="currentAnnouncement.title"
    [description]="currentAnnouncement.description"
    [posted]="currentAnnouncement.modifiedDate"
    class="item-wrapper"
  >
    <app-search-result-attribute
      [text]="currentAnnouncement.category | translate"
      icon="interests_outline"
    ></app-search-result-attribute>
  </app-search-result>

  <app-search-result
    *ngIf="currentAnnouncement.type === 'TRANSPORT'"
    [origin]="currentAnnouncement.origin"
    [destination]="currentAnnouncement.destination"
    [title]="currentAnnouncement.title"
    [description]="currentAnnouncement.description"
    [posted]="currentAnnouncement.modifiedDate"
    class="item-wrapper"
  >
    <app-search-result-attribute
      [text]="currentAnnouncement.transportDate"
      icon="date_range"
    ></app-search-result-attribute>
    <app-search-result-attribute
      [text]="('NUMBER_OF_PEOPLE' | translate) + ': ' + currentAnnouncement.capacity"
      icon="person"
    ></app-search-result-attribute>
  </app-search-result>

  <div class="footer">
    <button type="submit" class="btn btn-dark" (click)="confirmAction(false)">
      <span>{{ "NO" | translate }}</span>
    </button>
    <button type="submit" class="btn btn-secondary" (click)="confirmAction(true)">
      <span>{{ "YES" | translate }}</span>
    </button>
  </div>
</div>
