@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "vars";

:host {
  position: relative;
  header {
    display: flex;
    align-items: center;
    background: var(--c-darkblue);
    width: 100%;

    &.transparent {
      background: transparent;
    }
    &.solid {
      background: var(--c-darkblue);
    }
  }
  .navbar {
    width: 100%;
    .logo,
    .herb {
      width: 45px;
    }
    &-brand {
      display: flex;
      align-items: center;
    }
  }
}

.navbar {
  &-item {
    border-bottom: 2px solid transparent;
    font-size: 18px;
    font-weight: 700;
    padding: 0.4rem 1rem;
    max-width: 280px;
    &.navbar-big {
      @include media-breakpoint-down(lg) {
        font-size: 21px;
      }
    }
    @include media-breakpoint-up(lg) {
      font-size: 13px;
    }
  }
  &-link {
    color: var(--c-white);
    display: inline-block;
    padding: 7px 20px;
    margin: 0 8px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    &:hover {
      color: var(--c-white);
      border-color: var(--c-lightblue);
    }
  }
  &-wrap {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &-nav {
    margin: 0 auto;
    text-align: center;
    @include media-breakpoint-down(lg) {
      align-items: center;
    }
    @include media-breakpoint-up(lg) {
      align-items: center;
    }
  }
  &-toggler {
    .menu {
      display: block;
    }
    .cross {
      display: none;
    }

    &.opened {
      .menu {
        display: none;
      }
      .cross {
        display: block;
      }
    }
    svg {
      stroke: var(--c-white);
      width: 24px;
      height: 14px;
      transition: stroke var(--base-transition);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &-collapse {
    transition: height 200ms ease-in;
    justify-content: flex-end;
    @include media-breakpoint-down(lg) {
      align-items: center;
      background: var(--c-darkblue);
      position: fixed;
      z-index: -1;
      inset: 0 0 0 0;
      height: 100%;
      width: 100%;
    }
  }

  .navbar-item {
    &.button {
      display: flex;
      align-items: center;
      height: 42px;
      border: 1px solid var(--c-white);
      background-color: #ffffff0d;
      border-radius: 21px;
      color: var(--c-white);
      cursor: pointer;

      &:hover {
        background: transparent;
        border-color: var(--c-lightblue);
      }
    }

    .button-title {
      margin-left: 10px;
    }
  }
}

.dropdown {
  &-menu {
    background: transparent;
    border: none;
  }
  &-toggle {
    &::after {
      transition: all 200ms ease;
    }
    &.show {
      &::after {
        transform: scale(-1);
      }
    }
  }
  &-item {
    background: transparentize($c-darkblue, 0.2);
    border-bottom: 2px solid transparent;
    color: var(--c-white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 0.4rem 1rem;
    img {
      width: 32px;
      height: 32px;
      margin-right: 12px;
      @include media-breakpoint-up(lg) {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }
    &:hover {
      border-color: var(--c-lightblue);
    }
    @include media-breakpoint-up(lg) {
      font-size: 13px;
    }
  }
}
