<header class="header fixed-top" [ngClass]="getHeaderClass()">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="d-flex flex-row">
        <span>
          <a href="/" class="navbar-brand">
            <span class="visually-hidden">{{ "MAIN_PAGE" | translate }}</span>
            <img
              class="logo"
              [src]="'pomagamyua.svg' | path: 'imagesPath'"
              [alt]="'HELP_UA_LOGO' | translate"
              [attr.aria-label]="'HELP_UA_LOGO' | translate"
            />
          </a>
        </span>
        <span class="d-none d-md-inline header-element">
          <a href="/" class="navbar-brand">
            <span class="visually-hidden">{{ "MAIN_PAGE" | translate }}</span>
            <img
              class="kprm"
              [src]="'logo_kprm_ciemne_tlo.png' | path: 'imagesPath'"
              [alt]="'CHANCELLERY_OF_PRIME_MINISTER' | translate"
              [attr.aria-label]="'CHANCELLERY_OF_PRIME_MINISTER' | translate"
            />
          </a>
        </span>
      </div>
      <div class="d-flex flex-row right-side">
        <div
          class="dropdown header-element"
          [ngClass]="isMobileOrSubPage() ? 'mobile-subpage' : 'desktop'"
          *ngIf="!this.isOpen"
        >
          <a
            class="dropdown-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img [src]="activeLanguage?.code + '.svg' | path: 'imagesPath'" alt="" class="lang-flag" />
            <span>{{ activeLanguage?.text }}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let lang of languages">
              <span *ngIf="lang.code !== activeLanguage?.code" class="dropdown-item" (click)="useLanguage(lang.code)">
                <img [src]="lang.code + '.svg' | path: 'imagesPath'" alt="" class="lang-flag" />
                {{ lang.text }}
              </span>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" #navbarSupportedContent>
          <div class="navbar-wrap">
            <ul class="navbar-nav">
              <li class="navbar-item navbar-big">
                <a class="navbar-link" href="/">{{ "MAIN_PAGE" | translate }}</a>
              </li>
              <li
                (click)="closeMenu()"
                class="navbar-item navbar-big mobile-only"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
              >
                <a class="navbar-link" href="#">{{ "ANNOUNCEMENTS" | translate }}</a>
              </li>
              <li
                (click)="closeMenu()"
                class="navbar-item"
                *ngIf="!authService.isLoggedIn()"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
              >
                <a [routerLink]="[corePath.MyAccount]" class="btn btn-outline-light">
                  <mat-icon class="button-icon" fontSet="material-icons-outlined">account_circle</mat-icon>
                  <span class="button-title">{{ "LOGIN" | translate }}</span>
                </a>
              </li>
              <li
                (click)="closeMenu()"
                class="navbar-item"
                *ngIf="authService.isLoggedIn() && !this.isAccountUrl"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
              >
                <a [routerLink]="[corePath.MyAccount]" class="btn btn-outline-light">
                  <mat-icon class="button-icon" fontSet="material-icons-outlined">account_circle</mat-icon>
                  <span class="button-title">{{ "MY_ACCOUNT" | translate }}</span>
                </a>
              </li>
              <li class="navbar-item" *ngIf="authService.isLoggedIn() && this.isAccountUrl">
                <button (click)="authService.logOut(); closeMenu()" class="btn btn-outline-light">
                  <span class="button-title">{{ "LOGOUT" | translate }}</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button
        [ngClass]="getMenuClass()"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-label="Toggle navigation"
        aria-expanded="false"
      >
        <svg class="cross" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
          <path d="M2 20 19.854 2M2.146 2 20 20" stroke="#fff" stroke-width="3" stroke-linecap="round" />
        </svg>
        <svg class="menu" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 17">
          <path d="M1.5 15.5h21m-21-7h21m-13-7h13" stroke-width="3" stroke-linecap="round" />
        </svg>
      </button>
    </div>
  </nav>
</header>
