@import "vars";

:host {
  position: relative;

  .right-side {
    margin-right: -16px;
  }

  header {
    display: flex;
    align-items: center;
    background: var(--c-darkblue);
    width: 100%;

    &.transparent {
      background: transparent;
    }
    &.solid {
      background: var(--c-darkblue);
    }
  }
  .navbar {
    width: 100%;
    .logo,
    .herb {
      width: 45px;
    }
    &-brand {
      display: flex;
      align-items: center;
    }
  }
}

.navbar {
  &-item {
    border-bottom: 2px solid transparent;
    font-size: 18px;
    font-weight: 700;
    padding: 0.4rem 1rem;
    max-width: 280px;
    &.navbar-big {
      @media (max-width: $breakpoint-md-max) {
        font-size: 21px;
      }
    }
    @media (min-width: $breakpoint-lg) {
      font-size: 13px;
    }
  }
  &-link {
    color: var(--c-white);
    display: inline-block;
    padding: 7px 20px;
    margin: 0 8px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    &:hover {
      color: var(--c-white);
      border-color: var(--c-lightblue);
    }
  }
  &-wrap {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &-nav {
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  &-toggler {
    margin-right: -12px;

    .menu {
      display: block;
    }
    .cross {
      display: none;
    }

    &.opened {
      .menu {
        display: none;
      }
      .cross {
        display: block;
      }
    }
    svg {
      stroke: var(--c-white);
      width: 24px;
      height: 14px;
      transition: stroke var(--base-transition);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &-collapse {
    transition: height 200ms ease-in;
    justify-content: flex-end;
    @media (max-width: $breakpoint-md-max) {
      align-items: center;
      background: var(--c-darkblue);
      position: fixed;
      z-index: -1;
      inset: 0 0 0 0;
      height: 100%;
      width: 100%;
    }
  }

  .navbar-item {
    &.button {
      display: flex;
      align-items: center;
      height: 42px;
      border: 1px solid var(--c-white);
      background-color: #ffffff0d;
      border-radius: 21px;
      color: var(--c-white);
      cursor: pointer;

      &:hover {
        background: transparent;
        border-color: var(--c-lightblue);
      }
    }

    .button-title {
      margin-left: 10px;
    }
  }
}

.dropdown {
  font-weight: 700;

  &.mobile-subpage {
    .dropdown-item {
      font-size: 13px;
    }
  }

  &.desktop {
    .dropdown-item {
      background: none;
    }
  }

  &-link {
    color: var(--c-white);
    display: inline-block;
    padding: 0.4rem 0.625rem;
    text-decoration: none;
  }

  &-menu {
    background: transparent;
    border: none;
    padding-left: 0;
    min-width: 115px;
  }
  &-toggle {
    border: none;
    font-size: 13px;
    &::after {
      transition: all 200ms ease;
    }
    &.show {
      &::after {
        transform: scale(-1);
      }
    }
  }
  &-item {
    background: $c-darkblue;
    border-bottom: 2px solid transparent;
    color: var(--c-white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 0.4rem 0.625rem;

    &:hover {
      border-color: var(--c-lightblue);
    }
    @media (min-width: $breakpoint-lg) {
      font-size: 13px;
    }
  }
}

.lang-flag {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.header-element {
  align-self: center;
}
