:root {
  --icon-size: 20px;
}

:host a {
  font-size: 12px;
  font-weight: 500;
  background-color: #cedcf2;
  color: #052c65;

  mat-icon {
    font-size: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
