@import "vars";

.navbar-item {
  display: inline-block;
  color: #1b1b1b;
  text-decoration: none;
  font-size: 15px;
  &:hover {
    text-decoration: underline;
  }
  &.reply {
    color: blue;
    text-decoration: underline;
  }
}
