<mat-card *ngIf="myAccountPersonalData" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <p class="font-small">{{ "NAME" | translate }}</p>
      <p class="font-large pb-sm-1">{{ myAccountPersonalData.firstName }}</p>
      <p>{{ "NAME_FROM_TRUSTED_PROFILE" | translate }}</p>
      <p>{{ "DISPLAY_DATA_WITH_YOUR_ANNOUNCEMENTS" | translate }}</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p class="font-small pt-sm-4 pt-md-0">{{ "EMAIL_ADDRESS" | translate }}</p>
      <p class="font-large pb-sm-1">{{ myAccountPersonalData.email }}</p>
      <p>{{ "EMAIL_INFO" | translate }}</p>
      <a href="#" (click)="changeEmail($event)">{{ "CHANGE_EMAIL" | translate }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="pt-sm-5 pt-md-3">
        <a href="#" class="remove-account" (click)="removeAccount($event)">{{ "REMOVE_ACCOUNT_BUTTON" | translate }}</a>
      </p>
    </div>
  </div>
</mat-card>
