<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Miasto</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Miasto"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOption">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option.city }}, {{ option.voivodeship }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
