<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Dokąd</mat-label>
    <input
      type="text"
      placeholder="Np. Warszawa, mazowieckie"
      aria-label="Dokąd"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayOption"
      (optionSelected)="onSelected($event.option.value)"
    >
      <mat-option *ngFor="let option of options" [value]="option">
        {{ displayOption(option) }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
