<div>
  <label
    ><b>{{ label }}</b></label
  >
  <mat-form-field class="example-full-width" appearance="outline">
    <input type="text" [placeholder]="placeholder" matInput [formControl]="formControl" [matAutocomplete]="auto" />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayOption"
      (optionSelected)="onSelected($event.option.value)"
    >
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option | displayLocationOption }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
