.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
main.header-footer-padding {
  padding-top: var(--header-height);
  padding-bottom: 120px;
}

main.only-footer-padding {
  padding-bottom: 120px;
}
