.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  overflow: hidden;

  &.transparent {
    background: transparent;
  }

  .logo,
  .herb {
    max-width: 45px;
  }
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.card.highlight-card span {
  margin-left: 60px;
}
