<header class="header solid">
  <nav id="main-nav" class="navbar navbar-expand-lg">
    <div class="container">
      <img src="./assets/images/herb.png" alt="herb" class="herb navbar-brand" />
      <img src="./assets/images/kprm.svg" alt="logo" class="logo navbar-brand" />
      <img src="./assets/images/pomagamyua.svg" alt="logo" class="logo navbar-brand" />
    </div>
  </nav>
</header>

<main class="content">
  <mat-card style="width: 100%">
    <div class="container">
      <div class="row">
        <div class="col-md-6">col1</div>
        <div class="col-md-2">col2</div>
      </div>
    </div>
  </mat-card>
  <router-outlet></router-outlet>
</main>
