:host {
  button {
    height: 48px;
    padding: 0 20px;
    background-color: #062d65;
    text-transform: uppercase;
    letter-spacing: 1.25px;

    mat-icon {
      $icon-size: 20px;

      font-size: $icon-size;
      width: $icon-size;
      height: $icon-size;
    }
  }
}
