@import "node_modules/bootstrap/scss/bootstrap-grid";

.dashboard {
  background-image: linear-gradient(-66.4045498763deg, rgba(5, 44, 101, 0), #052c65 83.1595525064%),
    url("../../../assets/images/dashboard.jpg");
  background-size: cover;
  padding-top: 20px;
  min-height: 628px;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(105deg, #052c65, #052c6500);
    z-index: -1;
  }

  &-wrap {
    padding-top: 100px;
    position: relative;
    z-index: 1;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &-desc {
    max-width: 500px;
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
      margin-left: 0;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    .btn {
      width: 260px;
      margin-bottom: 16px;
    }
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      .btn + .btn {
        margin-left: 12px;
      }
    }
  }

  &-wave {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: -15px;
    svg {
      fill: var(--c-lightgray);
      height: 500px;
      left: 50%;
      position: relative;
      transform: translate(-50%) rotateY(180deg);
      width: calc(179% + 1px);
    }
  }
}

#help {
  display: flex;
  align-items: center;
}
