:host {
  width: 100%;
  .container {
    max-width: var(--width-lg);
  }

  h1 {
    text-align: center;
  }

  header {
    padding: 40px;
  }

  section {
    display: block;
    margin: 2em 1em;
  }
}
