@import "../../../assets/styles/media-dimensions";

.disclaimer {
  font-size: 0.7em;
  color: grey;
  float: right;
  margin-top: -22px;
}

.container {
  .header {
    max-width: 335px;
    margin: 0 auto;
    width: 100%;
  }
}

//to be fixed with integrated negative margin classes of bootstrap
.mt-md-n1 {
  @media (min-width: $min-tab) {
    margin-top: -1.7em !important;
  }
}
