<div class="container">
  <app-breadcrumb></app-breadcrumb>
  <header class="text-center mb-4">
    <p class="font-small font-yellow fw-bold mb-1">{{ "HELPUA" | translate }}</p>
    <h1 class="header-2 font-darkblue fw-bold">{{ "ABOUT_APP" | translate }}</h1>
  </header>

  <article>
    <mat-card class="content-wrapper p-4">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="header-3 mb-4">{{ "ABOUT_APP" | translate }}</h2>
          <p class="mb-4">{{ "ABOUT_APP_DESCRIPTION_1" | translate }}</p>
          <p>{{ "ABOUT_APP_DESCRIPTION_2" | translate }}</p>
          <h2 class="header-3 my-4">{{ "DEV_TEAM" | translate }}</h2>
          <ul class="mt-2">
            <li>
              {{ "B_ADAMCZYK" | translate }}
            </li>
            <li>
              {{ "B_BARTOSIAK" | translate }}
            </li>
            <li>
              {{ "L_BASIAK" | translate }}
            </li>
            <li>
              {{ "B_BLIUJ_STODULSKI" | translate }}
            </li>
            <li>
              {{ "L_BROS" | translate }}
            </li>
            <li>
              {{ "K_BYSZEWSKA" | translate }}
            </li>
            <li>
              {{ "D_HRYHORYEU" | translate }}
            </li>
            <li>
              {{ "M_FENGLER" | translate }}
            </li>
            <li>
              {{ "M_GOLEBIOWSKI_OWCZAREK" | translate }}
            </li>
            <li>
              {{ "J_METEOR" | translate }}
            </li>
            <li>
              {{ "M_GUMINSKI" | translate }}
            </li>
            <li>
              {{ "K_HARK" | translate }}
            </li>
            <li>
              {{ "J_IWANKOW_MAISON" | translate }}
            </li>
            <li>
              {{ "O_JASKIEWICZ" | translate }}
            </li>
            <li>
              {{ "M_KACPROWICZ" | translate }}
            </li>
            <li>
              {{ "T_KAMINSKI" | translate }}
            </li>
            <li>
              {{ "P_KANIA" | translate }}
            </li>
            <li>
              {{ "J_KANIA" | translate }}
            </li>
            <li>
              {{ "J_KASPRZYK" | translate }}
            </li>
            <li>
              {{ "P_KLIMASZEWSKI" | translate }}
            </li>
            <li>
              {{ "A_KLIS" | translate }}
            </li>
            <li>
              {{ "K_KOPROWSKA" | translate }}
            </li>
            <li>
              {{ "P_KOWALCZYK" | translate }}
            </li>
            <li>
              {{ "A_KOZUBEK" | translate }}
            </li>
            <li>
              {{ "A_KRZYWICKI" | translate }}
            </li>
            <li>
              {{ "M_KWAPISZ" | translate }}
            </li>
            <li>
              {{ "M_LEWINSKI" | translate }}
            </li>
            <li>
              {{ "B_MAJ" | translate }}
            </li>
            <li>
              {{ "L_MALCHENKO" | translate }}
            </li>
            <li>
              {{ "Z_MALINSKA" | translate }}
            </li>
            <li>
              {{ "J_MIRECKI" | translate }}
            </li>
            <li>
              {{ "P_NESCIOR" | translate }}
            </li>
            <li>
              {{ "M_NIEDZIELSKI" | translate }}
            </li>
            <li>
              {{ "K_NOWICKI" | translate }}
            </li>
            <li>
              {{ "B_OLSZANSKI" | translate }}
            </li>
            <li>
              {{ "D_POTKANSKI" | translate }}
            </li>
            <li>
              {{ "J_PRUS" | translate }}
            </li>
            <li>
              {{ "M_PRZEWOZNIK" | translate }}
            </li>
            <li>
              {{ "V_RADIUK" | translate }}
            </li>
            <li>
              {{ "T_RYCHTER" | translate }}
            </li>
            <li>
              {{ "J_RYGALIK_KOLBICZ" | translate }}
            </li>
            <li>
              {{ "K_RZYMKOWSKI" | translate }}
            </li>
            <li>
              {{ "M_SABAK" | translate }}
            </li>
            <li>
              {{ "L_SOLTYK" | translate }}
            </li>
            <li>
              {{ "D_STANKIEWICZ" | translate }}
            </li>
            <li>
              {{ "D_STASZEL" | translate }}
            </li>
            <li>
              {{ "U_SWIATLOWSKA" | translate }}
            </li>
            <li>
              {{ "P_SWIDERSKI" | translate }}
            </li>
            <li>
              {{ "P_SWISTAK" | translate }}
            </li>
            <li>
              {{ "P_UFNALEWSKI" | translate }}
            </li>
            <li>
              {{ "R_URBAN" | translate }}
            </li>
            <li>
              {{ "K_WELKA" | translate }}
            </li>
            <li>
              {{ "J_WIENIATOWSKA" | translate }}
            </li>
            <li>
              {{ "B_WOJCICKI" | translate }}
            </li>
            <li>
              {{ "M_WYSZOMIERSKI" | translate }}
            </li>
            <li>
              {{ "O_ZDERKO" | translate }}
            </li>
            <li>
              {{ "C_ZDYBEL" | translate }}
            </li>
          </ul>
          <h2 class="header-3 my-4">{{ "PARTICIPANTS" | translate }}</h2>
          <p>{{ "ORDER_BY" | translate }}</p>
          <ul class="mt-2">
            <li>
              <b>{{ "COI" | translate }}</b>
            </li>
            <li>
              <b>{{ "DEV_QUBE" | translate }}</b>
            </li>
            <li>
              <b>{{ "SYSOPS_DEVOPS" | translate }}</b>
            </li>
            <li>
              <b>{{ "CHANCELLERY_OF_PRIME_MINISTER" | translate }}</b>
            </li>
            <li>
              <b>{{ "TECH_4_RESCUE" | translate }}</b>
            </li>
            <li>
              <b>{{ "WARSAW_JS" | translate }}</b>
            </li>
            <li>
              <b>{{ "WEBSCOUTS" | translate }}</b>
            </li>
          </ul>
        </div>
      </div>
    </mat-card>
  </article>
</div>
