<div class="container">
  <app-breadcrumb></app-breadcrumb>
  <header class="text-center mb-4">
    <p class="font-small font-yellow fw-bold mb-1">{{ "HELPUA" | translate }}</p>
    <h1 class="header-2 font-darkblue fw-bold">{{ "ABOUT_APP" | translate }}</h1>
  </header>

  <article>
    <mat-card class="content-wrapper p-4">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="header-3 mb-4">{{ "ABOUT_APP" | translate }}</h2>
          <p class="mb-4">{{ "ABOUT_APP_DESCRIPTION_1" | translate }}</p>
          <p>{{ "ABOUT_APP_DESCRIPTION_2" | translate }}</p>
          <h2 class="header-3 my-4">{{ "PARTICIPANTS" | translate }}</h2>
          <p>{{ "ORDER_BY" | translate }}</p>
          <ul class="mt-2">
            <li>
              <b>{{ "COI" | translate }}</b> - <a href="https://coi.gov.pl">https://coi.gov.pl</a>
            </li>
            <li>
              <b>{{ "SYSOPS_DEVOPS" | translate }}</b> -
              <a href="https://www.sysopspolska.pl">https://www.sysopspolska.pl</a>
            </li>
            <li>
              <b>{{ "SNOWFLAKE" | translate }}</b> - <a href="https://www.snowflake.com">https://www.snowflake.com</a>
            </li>
            <li>
              <b>{{ "WARSAW_JS" | translate }}</b> - <a href="https://www.warsawjs.com">https://www.warsawjs.com</a>
            </li>
            <li>
              <b>{{ "WEBSCOUTS" | translate }}</b>
            </li>
          </ul>

          <h2 class="header-3 my-4">{{ "DEV_TEAM" | translate }}</h2>

          <h2 class="header-3 my-4">{{ "TECH_STACK" | translate }}</h2>

          <h3 class="font-base fw-bold mt-3">{{ "FRONTED" | translate }}</h3>
          <p class="text">{{ "ANGULAR" | translate }}</p>

          <h3 class="font-base fw-bold mt-3">{{ "BACKEND" | translate }}</h3>
          <p>{{ "JAVA" | translate }}</p>
          <p>{{ "KEYCLOCK" | translate }}</p>

          <h3 class="font-base fw-bold mt-3">{{ "HOSTING" | translate }}</h3>
          <p>{{ "AZURE" | translate }}</p>
        </div>
      </div>
    </mat-card>
  </article>
</div>
