<div class="container">
  <app-breadcrumb></app-breadcrumb>
  <header class="text-center mb-4">
    <p class="font-small font-yellow fw-bold mb-1">{{ "HELPUA" | translate }}</p>
    <h1 class="header-2 font-darkblue fw-bold">{{ "ABOUT_APP" | translate }}</h1>
  </header>

  <article>
    <mat-card class="content-wrapper p-4">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="header-3 mb-4">{{ "ABOUT_APP" | translate }}</h2>
          <p class="mb-4">{{ "ABOUT_APP_DESCRIPTION_1" | translate }}</p>
          <p>{{ "ABOUT_APP_DESCRIPTION_2" | translate }}</p>
          <h2 class="header-3 my-4">{{ "DEV_TEAM" | translate }}</h2>
          <ul class="mt-2">
            <li>Błażej Adamczyk</li>
            <li>Bartłomiej Bartosiak</li>
            <li>Łukasz Basiak</li>
            <li>Bartosz Bliuj-Stodulski</li>
            <li>Łukasz Broś</li>
            <li>Kinga Byszewska</li>
            <li>Dymitr Hryhoryeu (github.com/H-dymitr)</li>
            <li>Małgorzata Fengler</li>
            <li>Michał Gołębiowski-Owczarek (mgol)</li>
            <li>Jerzy Meteor</li>
            <li>Mariusz Gumiński</li>
            <li>Kamil Hark</li>
            <li>Joanna Iwanków-Maison</li>
            <li>Oskar Jaśkiewicz / Ozzy</li>
            <li>Marzena Kacprowicz</li>
            <li>Tomasz Kamiński</li>
            <li>Paweł Kania / Vodzoo</li>
            <li>Julian Kania</li>
            <li>Jakub Kasprzyk (github.com/neu5)</li>
            <li>Piotr Klimaszewski</li>
            <li>Adam Kliś</li>
            <li>Karina Koprowska</li>
            <li>Piotr Kowalczyk</li>
            <li>Artur Kozubek (github.com/archiewald)</li>
            <li>Adrian Krzywicki</li>
            <li>Magdalena Kwapisz</li>
            <li>Maciej Lewinski</li>
            <li>Bartłomiej Maj</li>
            <li>Lana Malchenko</li>
            <li>Zuzanna Malińska</li>
            <li>Jan Mirecki</li>
            <li>Paweł Neścior</li>
            <li>Marcin Niedzielski</li>
            <li>Kamil Nowicki</li>
            <li>Bartosz Olszański</li>
            <li>Daniel Potkański</li>
            <li>Jacek Pruś</li>
            <li>Maciej Przewoźnik</li>
            <li>Volodia Radiuk</li>
            <li>Tomasz Rychter</li>
            <li>Justyna Rygalik-Kolbicz</li>
            <li>Krzysztof Rzymkowski</li>
            <li>Małgorzata Sabak</li>
            <li>Łukasz Sołtyk</li>
            <li>Diana Stankiewicz</li>
            <li>Dominika Staszel</li>
            <li>Ula Światłowska</li>
            <li>Paweł Świderski</li>
            <li>Piotr Świstak</li>
            <li>Paweł Ufnalewski</li>
            <li>Rafał Urban</li>
            <li>Katarzyna Welka</li>
            <li>Joanna Wieniatowska</li>
            <li>Bartosz Wójcicki</li>
            <li>Mariusz Wyszomierski</li>
            <li>Oleksandr Zderko</li>
            <li>Celina Zdybel</li>
          </ul>
          <h2 class="header-3 my-4">{{ "PARTICIPANTS" | translate }}</h2>
          <p>{{ "ORDER_BY" | translate }}</p>
          <ul class="mt-2">
            <li>
              <b>Centralny Ośrodek Informatyki</b>
            </li>
            <li>
              <b>DevQube Sp. z o.o.</b>
            </li>
            <li>
              <b>Fundacja SysOps/DevOps Polska</b>
            </li>
            <li>
              <b>Kancelaria Prezesa Rady Ministrów</b>
            </li>
            <li>
              <b>Snowflake Poland</b>
            </li>
            <li>
              <b>Tech to the Rescue</b>
            </li>
            <li>
              <b>WarsawJs</b>
            </li>
            <li>
              <b>WebScouts</b>
            </li>
          </ul>
        </div>
      </div>
    </mat-card>
  </article>
</div>
