/* You can add global styles to this file, and also import other style files */
@import "assets/styles/mat-card";
@import "assets/styles/variables";
@import "assets/styles/forms";
@import "assets/styles/utilities";
@import "assets/styles/overrides";
@import "assets/styles/snackbar";
@import "assets/styles/tooltip";
@import "assets/styles/dialog";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--c-lightgray);
  color: var(--c-darkblue);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font-open-sans);
}

h3 {
  font-size: 24px;
}

p {
  margin: 0;
}

@import "./assets/styles/buttons";
