/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./assets/styles/mat-card";
@import "./assets/styles/variables";
@import "./forms";
@import "./assets/styles/utilities";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--c-darkblue);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  margin: 0;
}

@import "./assets/styles/buttons";
