@import "src/assets/styles/vars";

.dialog-success .mat-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-family: var(--font-open-sans);

  .icon {
    color: var(--c-green);
    font-size: 24px;

    .material-icons-outlined {
      font-size: 38px;
    }
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.19px;
    color: #052c65;
    margin-bottom: 25px;
  }

  .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
