@import "vars";

snack-bar-container {
  font-size: 15px;
  &.snack-bar-error {
    background: $c-lightgray;
    border: 2px solid $c-redalert;
    font-weight: 500;
    color: $c-black;
  }
  &.snack-bar-warning {
    background: $c-lightgray;
    border: 2px solid $c-yellowwarning;
    font-weight: 500;
    color: $c-black;
  }
  &.snack-bar-confirm {
    background: $c-lightgray;
    border: 2px solid $c-greenconfirm;
    font-weight: 500;
    color: $c-black;
  }
  &.snackbar-alert {
    color: $c-black;
    max-width: 90vw !important;
    width: 100%;
    background: $c-lightgray;
    z-index: 10000;
    border: 2px solid $c-green;
    margin: 16vh auto !important;
    h5 {
      font-weight: bold;
    }
    .button-icon {
      width: auto;
      @include media-breakpoint-up(md) {
        width: 20%;
      }
      color: $c-green;
      font-size: 3em;
      height: 100%;
    }
    .close-button {
      top: 0;
      right: 0;
    }
    .close-icon {
      width: auto;
      color: $c-gray;
      font-size: 2em;
    }
  }
}
