@import "media-dimensions";

$c-white: #fff;
$c-yellow: #ffd500;
$c-darkblue: #0c2c65;
$c-blue: #1f52bd;
$c-lightblue: #b3e8ff;
$c-grayblue: #8295b2;
$c-gray: #8093b1;
$c-lightgray: #f5f7fa;
$c-highlight: #edf0f4;

$base-line-height: 1.5;
$base-font-size: 16px;
$font-open-sans: "Open Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;

$box-shadow: 0 3px 12px #052c6526;
$header-height: 70px;
$base-transition: 200ms ease-in;
