@import "media-dimensions";

$enable-negative-margins: true;

$c-white: #fff;
$c-yellow: #ffd500;
$c-darkblue: #0c2c65;
$c-blue: #0b52bd;
$c-lightblue: #b3e8ff;
$c-grayblue: #8295b2;
$c-gray: #8093b1;
$c-lightgray: #f5f7fa;
$c-highlight: #edf0f4;
$c-green: #4acc0a;
$c-redalert: #ef5350;
$c-greenconfirm: #81c784;
$c-yellowwarning: #ffd54f;
$c-black: black;
$c-black-2: #1b1b1b;
$c-font: #052c65;
$c-red: #dc3545;
$base-line-height: 1.5;
$base-font-size: 15px;
$font-open-sans: "Open Sans", sans-serif;
$box-shadow: 0 3px 12px #052c6526;
$header-height: 70px;
$base-transition: 200ms ease-in;

$input-border-color: #052c65f2;
$active-input-border-color: #052c6540;
$hover-input-border-color: #7a8fad;
