@import "node_modules/bootstrap/scss/mixins";
@import "vars";

.btn {
  align-items: center;
  border-radius: 30px;
  display: flex;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 16px;
  justify-content: center;
  letter-spacing: 1.25px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn-primary {
  @include button-variant(
    $c-yellow,
    $c-yellow,
    $c-darkblue,
    darken($c-yellow, 5%),
    darken($c-yellow, 5%),
    darken($c-darkblue, 5%),
    darken($c-yellow, 7.5%),
    darken($c-yellow, 7.5%),
    darken($c-darkblue, 7.5%)
  );
}

.btn-outline-primary {
  @include button-variant(
    transparentize($c-darkblue, 0.3),
    $c-yellow,
    $c-yellow,
    $c-yellow,
    $c-yellow,
    $c-darkblue,
    darken($c-yellow, 5%),
    darken($c-yellow, 5%),
    darken($c-darkblue, 5%)
  );
}

.btn-secondary {
  @include button-variant(
    $c-lightgray,
    $c-darkblue,
    $c-darkblue,
    darken($c-lightgray, 5%),
    $c-darkblue,
    $c-darkblue,
    darken($c-lightgray, 7.5%),
    darken($c-darkblue, 5%),
    darken($c-darkblue, 5%)
  );
}

.btn-light {
  @include button-variant(
    $c-lightgray,
    $c-lightgray,
    $c-darkblue,
    darken($c-lightgray, 5%),
    darken($c-lightgray, 5%),
    $c-darkblue,
    darken($c-lightgray, 7.5%),
    darken($c-lightgray, 7.5%),
    $c-darkblue
  );
}

.btn-outline-light {
  @include button-variant(
    transparent,
    $c-white,
    $c-white,
    $c-white,
    $c-white,
    $c-darkblue,
    darken($c-white, 5%),
    darken($c-white, 5%),
    $c-darkblue
  );
}

.btn-dark {
  @include button-variant(
    $c-darkblue,
    $c-darkblue,
    $c-white,
    darken($c-darkblue, 2%),
    darken($c-darkblue, 2%),
    $c-white
  );
}

.btn-outline-dark {
  @include button-variant(
    transparent,
    $c-darkblue,
    $c-white,
    darken($c-darkblue, 5%),
    darken($c-darkblue, 5%),
    darken($c-darkblue, 30%)
  );
}
