.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  padding: 0 30px;
  height: 48px;
  text-transform: uppercase;

  &-primary {
    background: var(--c-darkblue);
    border-color: var(--c-darkblue);
    color: var(--c-white);
  }

  &-secondary {
    background: var(--c-lightgray);
    border-color: var(--c-lightgray);
    color: var(--c-darkblue);
  }

  &-highlight {
    background: var(--c-yellow);
    border-color: var(--c-yellow);
    color: var(--c-darkblue);
  }

  &-outline-highlight {
    background: transparent;
    border-color: var(--c-yellow);
    color: var(--c-yellow);

    mat-icon {
      color: var(--c-yellow);
      margin-right: 12px;
    }

    &:hover {
      background: var(--c-yellow);
      color: var(--c-darkblue);

      mat-icon {
        color: var(--c-darkblue);
      }
    }
  }
}
