form {
  label {
    display: block;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  mat-form-field {
    width: 100%;
    font-size: 15px;
  }
}

.mat-form-field-appearance-outline {
  &.mat-focused .mat-form-field-outline-thick {
    color: $active-input-border-color;
  }
  .mat-form-field-outline {
    color: $input-border-color;
  }

  .mat-form-field-outline-thick {
    color: $hover-input-border-color;

    .mat-form-field-outline {
      &-start,
      &-end,
      &-gap {
        border-width: 1px !important;
      }
    }
  }
}
