form {
  label {
    display: block;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  mat-form-field {
    width: 100%;
    font-size: 15px;
  }
}

.mat-form-field-appearance-outline {
  &.mat-focused .mat-form-field-outline-thick {
    color: $active-input-border-color;
  }
  .mat-form-field-outline {
    color: $input-border-color;
  }

  .mat-form-field-outline-thick {
    color: $hover-input-border-color;

    .mat-form-field-outline {
      &-start,
      &-end,
      &-gap {
        border-width: 1px !important;
      }
    }
  }
}

.form-clear-filters {
  text-decoration: none;

  &:focus {
    box-shadow: none !important;
  }

  span {
    font-size: 0.8em;
    text-transform: none;
  }
}

.form-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
