@import "vars";

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 0.5em;
}

mat-icon {
  &.yellow-icon {
    color: $c-yellow;
  }
}

//hack-fix for phone iocon proper position
.phone {
  mat-icon {
    direction: rtl !important;
  }
}

.mat-error {
  margin-left: -0.8em;
}

snack-bar-container.snackbar-alert {
  max-width: 90vw !important;
  width: 100%;
  background: white;
  color: blue;
  z-index: 10000;
  margin: 20vh auto !important;
  border: 2px solid $c-green;
  @media (min-width: $max-tab) {
    margin: 16vh auto !important;
  }
  h5 {
    font-size: 15px;
    color: #052c65;
    font-weight: bold;
  }

  p {
    font-size: 15px;
    color: #052c65;
  }

  .button-icon {
    width: 20%;
    @media (min-width: $max-tab) {
      width: 10%;
    }
    color: $c-green;
    font-size: 3em;
  }
}
