@import "vars";

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 0.5em;
}

mat-icon {
  &.yellow-icon {
    color: $c-yellow;
  }
}

//hack-fix for phone iocon proper position
.phone {
  mat-icon {
    direction: rtl !important;
  }
}

.mat-error {
  margin-left: -0.8em;
}
