@import "vars";

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 0.5em;
}

mat-icon {
  &.yellow-icon {
    color: $c-yellow;
  }
}

//hack-fix for phone iocon proper position
.phone {
  mat-icon {
    direction: rtl !important;
  }
}

.mat-error,
.mat-hint {
  margin-left: -0.8em;
}

.mat-form-field-hint-end {
  margin-right: -0.8em;
}

.preloader.mat-progress-spinner circle,
.preloader.mat-spinner circle {
  stroke: $c-darkblue;
}

.selectPrefix {
  .mat-form-field-outline-end {
    @include media-breakpoint-up(sm) {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
}

.phoneInut {
  .mat-form-field-outline-start {
    @include media-breakpoint-up(sm) {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
      margin-left: -1px;
    }
  }
}

.categories-mobile {
  .mat-form-field-outline-start,
  .mat-form-field-outline-end {
    background: $c-white;
    border: 3px solid $c-yellowactiveinput !important;
  }

  .mat-form-field-outline-start {
    border-right: 0 !important;
  }

  .mat-form-field-outline-end {
    border-left: 0 !important;
  }

  .mat-select-arrow-wrapper {
    transform: none;
  }
}

.mat-option-text {
  font-weight: bold;
  color: $c-darkblue;
}
