@import "node_modules/bootstrap/scss/bootstrap-grid";

.font-white {
  color: var(--c-white);
}

.font-yellow {
  color: var(--c-yellow);
}

.font-darkblue {
  color: var(--c-darkblue);
}

.header-1 {
  font-size: 27px;
  line-height: 1.3;
  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }
}

.header-2 {
  font-size: 18px;
  @include media-breakpoint-up(lg) {
    font-size: 24px;
  }
}

.header-3 {
  font-size: 16px;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}

.font-small {
  font-size: 13px;
}

.desktop-only {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
.mobile-only {
  display: block;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
