@import "vars";

:root {
  --c-white: #{$c-white};
  --c-yellow: #{$c-yellow};
  --c-darkblue: #{$c-darkblue};
  --c-blue: #{$c-blue};
  --c-lightblue: #{$c-lightblue};
  --c-grayblue: #{$c-grayblue};
  --c-gray: #{$c-gray};
  --c-lightgray: #{$c-lightgray};
  --c-highlight: #{$c-highlight};
  --base-font-color: #{$c-font};
  --base-line-height: #{$base-line-height};
  --base-font-size: #{$base-font-size};
  --base-font-family: #{$font-open-sans};
  --base-transition: #{$base-transition};
  --font-roboto: #{$font-roboto};
  --box-shadow: #{$box-shadow};
  --header-height: #{$header-height};
  --width-lg: 1320px;
  --enable-negative-margins: true;
}
