:root {
  --c-white: #fff;
  --c-yellow: #fad500;
  --c-dark-yellow: #c7a900;
  --c-darkblue: #0c2c65;
  --c-blue: #1f52bd;
  --c-grayblue: #8295b2;
  --c-gray: #8093b1;
  --c-lightgray: #f5f7fa;
  --c-highlight: #edf0f4;
  --c-darkblue-trans: #0c2c654d;
  --base-line-height: 1.5;
  --base-font-size: 16px;
  --base-font-family: "Open Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --box-shadow: 0 3px 12px #052c6526;
  --header-height: 70px;

  --width-lg: 1320px;
}
