@import "vars";

.ml-auto {
  margin-left: auto;
}

.content {
  min-height: 50%;

  label {
    font-size: 12px;
  }
}

.modification-date {
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #052c65;
  opacity: 0.5;
}

.attribute-name {
  font-size: 12px;
  letter-spacing: 0.37px;
}

.attribute-value {
  font-size: 13px;
  letter-spacing: 0.4px;
}

.yellow-icon {
  &.--smaill-size {
    font-size: 18px;
  }
}

.disclaimer {
  font-size: 13px;
  letter-spacing: 0.12px;
  color: #052c65;
  opacity: 0.5;
}

.reply-offer-mat-card {
  position: relative;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: $c-white;
}

.blurClass {
  transition: all 0.3s ease-out;
  filter: blur(3px);
}

.dot-nav {
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.9;
  top: 40vh;
  z-index: 10;
  &.prev {
    left: -20px;
  }
  &.next {
    right: -20px;
  }
  mat-icon {
    margin-top: 2px;
  }
}

.translate-info {
  font-size: 13px;
}
