@import "vars";

.ml-auto {
  margin-left: auto;
}

.content {
  min-height: 50%;

  label {
    font-size: 12px;
  }
}

.copy-url {
  cursor: pointer;
  text-decoration: none;
  color: $c-darkblue;
  font-size: 12px;
  letter-spacing: 0.37px;

  &:active {
    color: grey;
    mat-icon {
      color: grey;
    }
  }
  .text {
    position: relative;
    top: -6px;
  }
}

.modification-date {
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #052c65;
  opacity: 0.5;
}

.attribute-name {
  font-size: 12px;
  letter-spacing: 0.37px;
}

.attribute-value {
  font-size: 13px;
  letter-spacing: 0.4px;
}

.yellow-icon {
  &.--smaill-size {
    font-size: 18px;
  }
}

.disclaimer {
  font-size: 13px;
  letter-spacing: 0.12px;
  color: #052c65;
  opacity: 0.5;
}

.reply-offer-mat-card {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: $c-white;
}
