:host {
  width: 100%;
  .container {
    max-width: var(--width-lg);
  }
  h2 {
    color: var(--c-yellow);
    text-align: center;
    font-size: 13px;
    font-weight: 700;
  }
  h1 {
    text-align: center;
    font-size: 24px;
  }
  header {
    padding: 40px;
  }

  section {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
  }
}
