<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <p class="hero-hash">{{ "HELPUA" | translate }}</p>
      <h1 class="hero-title">
        <span>{{ "HELP_FROM_WAR" | translate }}</span>
        <span>{{ "SUPPORT_REFUGEES" | translate }}</span>
      </h1>
      <div class="hero-actions">
        <a routerLink="/szukaj-pomocy/noclegi" id="search" class="btn btn-highlight">{{
          "SEARCH_FOR_HELP" | translate
        }}</a>
        <a routerLink="/daj-pomoc" id="help" class="btn btn-outline-highlight">
          <mat-icon fontSet="material-icons-outlined">add</mat-icon>
          {{ "ADD_AD" | translate }}
        </a>
      </div>
    </div>
  </div>
</section>
