:host {
  display: block;

  .container {
    box-sizing: border-box;
  }

  ::ng-deep {
    label {
      display: block;
      font-size: 0.8rem;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .publish {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 22px;
  }
}
